/* 
google font
 */
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@500;600;700&display=swap');

 /* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
 */

 /* basic css*/

 body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #646464;
    line-height: 1.7;
 }

 h1,
 h2,
 h3,
 h4{font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #212121;
   }

   .theme-button{
    text-decoration: none;
    background-color: #37806B;
    text-transform: capitalize;
    color: #fff;
    border-radius: 15px 0px;
    padding: 10px 20px;
    transition: .3s;
    display: inline-block;
 }
 .theme-button:hover{
    background-color: #CAA892;
    color: #fff;
 }

 .design-image{
    position: relative;
    z-index: 1;
 }
 .design-image::after{
    position: absolute;
    content: "";
    right: -20px;
    bottom: -20px;
    left: 20px;
    top: 20px;
    z-index: -1;
    border-radius: 140px 0;
    border: 2px solid #B0855B;

 }
 .design-image img{
    width: 100%;
    border-radius: 140px 0;
 }
 .design-image-two{
    position: relative;
    z-index: 1;
 }
 .design-image-two::after{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    left: -20px;
    top: -20px;
    z-index: -1;
    border-radius: 140px 0;
    border: 2px solid #B0855B;

 }
 .design-image-two img{
    border-radius: 140px 0;
 }

 .section-headding h4{
    font-size: 20px;
    text-transform: uppercase;
    color: #646464;
    font-weight: 600;
 }
 .section-headding h3{
    font-size: 48px;
 }

 /* header area css */
 .header-area{
    padding: 30px 0;
 }
 .header-area .nav-item{
    margin-left: 30px;
 }
 .header-area .nav-item{
    text-transform: uppercase;
    color: #111111;
    font-weight: 600;
 }
 .header-area .nav-link.active{
    text-transform: uppercase;
    color: #646464;
 }
 .header-area .nav-item:last-child{
    margin-left: 45px;
 }

 .header-area .nav-item:last-child .nav-link{
    background-color: #CAA892;
    text-transform: capitalize;
    color: #fff;
    border-radius: 15px 0px;
    padding: 10px 20px;
 }

 /* hero area css */

 .hero-area{
    padding: 70px 0;
 }
 .hero-text h3{
    font-size: 20px;
    color: #646464;
    text-transform: uppercase;
 }
 .hero-text h2{
    font-size: 72px;
    color: #212121;
    text-transform: capitalize;
 }
 .hero-text a {
    margin-top: 15px;
 }

 .hero-image img{
    width: 100%;
    border-radius: 140px 0;
 }

 /* service-area */

 .service-area{
    padding: 100px 0;
    position: relative;
 }
 .all-services{
    margin-top: 60px;
    position: relative;
 }
 .all-services .owl-nav{
    position: absolute;
    right: 0;
    top: -70px;
 }
 .all-services .owl-nav span{
    height: 30px;
    width: 30px;
    background-color: #fff;
    color: #646464;
    display: inline-block;
    border-radius: 50%;
    box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.3);
    transition: .3s;
 }
 .all-services .owl-nav span:hover{
    background-color: #37806B
    ;
    color: #fff;
 }
 .all-services .owl-next{
    margin-left: 20px;
 }
 .single-service{
    background: #FFFFFF;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
    border-radius: 60px 0px;
    padding: 40px 20px 40px 35px;
    transition: .3s;
    cursor: pointer;

 }
 .single-service:hover{
    background-color: #CAA892;
    color: #fff;
 }
 .single-service:hover h3{
    color: #fff;
 }
 .serice-text p{
    margin-bottom: 0;
 }

 /* about css */

 .about-area{
    padding: 100px 0;
 }

 .success-area{
    padding:100px 0;
    position: relative ;
 }
 .design-text h5{
    font-family: 'Open Sans', sans-serif;
    font-size: 288px;
    font-weight: 700;
    background-image: url(assest/img/text\ bg.png);
    -webkit-background-clip: text;
    color: transparent;
    background-size: cover;
 }
 .success-area .theme-button{
    margin-top: 35px;
 }
 .work-area{
    padding: 100px 0;
    background-color: #f8f8f8;
 }
 .all-work{
    margin-top: 100px;
 }
 .single-work{
    display: flex;
    justify-content: center;
 }
 .single-work-text{
    height: 200px;
    width: 200px;
    background: #FFFFFF;
    box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.1);border-radius: 40px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
 }
 .single-work-text::after{
    position: absolute;
    content: "";
    height: 100px;
    width: 65px;
    border-top: 2px solid #e0e0e0;
    border-right: 2px solid#e0e0e0;
    z-index: -1;
    right: -65px;
    top: 100px;

 }
 .single-work-two .single-work-text::before{
    position: absolute;
    content: "";
    height: 100px;
    width: 65px;
    border-top: 2px solid #e0e0e0;
    z-index: -1;
    right: -65px;
    top: 100px;

 }
 .single-work-three .single-work-text::before{
    position: absolute;
    content: "";
    height: 100px;
    width: 65px;
    border-top: 2px solid #e0e0e0;
    border-left: 2px solid #e0e0e0;
    z-index: -1;
    left: -65px;
    top: 100px;

 }
 .single-work-text.special::after{
    left: -65px;
    top: 100px;
    border-right: none;
 }

 .single-work-text h3{
    font-size: 50px;
 }
 .special{
    margin-top: 100px;
 }